<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>LOGGERCONTEXT</contextName>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{dd.MM.yyyy HH:mm:ss.SSS}] %-5level - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/log/log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/log/log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>2MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>[%date{dd.MM.yyyy HH:mm:ss.SSS}] %-5level %logger{0} - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="AsyncFile" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="file"/>
    </appender>

    <appender name="AsyncStdout" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="stdout"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="AsyncFile"/>
        <appender-ref ref="AsyncStdout"/>
    </root>
</configuration>